beautifulsoup4
click
colorama
esprima==4.0.1
fasttext
jieba
joblib
mecab-python3
nltk
numpy==1.26.4
pandas
pybind11
pybind11_global
Pygments
python-dateutil
pytz
regex
six
soupsieve
tqdm
typing_extensions
tzdata
unidic-lite
zhconv==1.4.3
